<article class="unit-article layout-page">
	<div class="unit-inner unit-article-inner">
		<div class="content">
			<header>
				<div class="unit-head">
					<div class="unit-inner unit-head-inner">
						<h1 class="h2 entry-title">{{ page.title }}</h1>
                        <div class="ninja_onebutton">
                            <script type="text/javascript">
                                //<![CDATA[
                                (function(d){
                                    if(typeof(window.NINJA_CO_JP_ONETAG_BUTTON_5f9e643d36b29c7b46ea402a23a714c8)=='undefined'){
                                                document.write("<sc"+"ript type='text\/javascript' src='http:\/\/omt.shinobi.jp\/b\/5f9e643d36b29c7b46ea402a23a714c8'><\/sc"+"ript>");
                                                }else{ 
                                                    window.NINJA_CO_JP_ONETAG_BUTTON_5f9e643d36b29c7b46ea402a23a714c8.ONETAGButton_Load();}
                                            })(document);
                                            //]]>
                                        </script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
                                    </div>

					</div><!-- unit-inner -->
				</div><!-- unit-head -->
			</header>

			<div class="bd">
				<div class="entry-content">
					{{ content }}
				</div><!-- entry-content -->
			</div><!-- bd -->

			<footer class="unit-foot">
				<div class="unit-inner unit-foot-inner">
					<p class="gotop">
						<a href="#page">Back to Top</a>
					</p>
				</div>
			</footer>

		</div><!-- content -->
	</div><!-- unit-inner -->
</article>
